body {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.Card {
  background: white;
  border-radius: 10px;
}

:hover {
  background: lightgrey;
}

.Card__img {
  text-align: center;
}

.Card__types {
  display: flex;
  justify-content: center;
}

.Card__type {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: cornflowerblue;
  color: #fff;
}

.Card__name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.Card__info {
  margin-left: 10px;
  text-align: center;
}

.Card__data {
  padding-bottom: 10px;
}
